<div>
  <div>
    <h3>Películas</h3>
    <div class="media-flex-container">
      <!-- <app-media-card
        *ngFor="let movie of movies$ | async"
        [item]="movie"
        [type]="'movie'"
      >
      </app-media-card>

    <div *ngIf="loading()">Cargando...</div>
      <div *ngIf="error()">{{ error() }}</div>
      <app-media-card
        *ngFor="let movie of moviesSignal()"
        [item]="movie"
        [type]="'movie'"
        (selected)="onMovieSelected(movie)"
      >
      </app-media-card>
      -->
      <div *ngIf="loading()">Cargando...</div>
      <div *ngIf="error">{{ error }}</div>

      <!--Sin virtual scroll-->
      <app-media-card
        *ngFor="let movie of moviesInject(); trackById"
        [item]="movie"
        [type]="'movie'"
        (selected)="onMovieSelected($event)"
      >
      </app-media-card>

      <!--Con virtual scroll-->
      <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
        <app-media-card
          *cdkVirtualFor="let movie of moviesInject(); trackById"
          [item]="movie"
          [type]="'movie'"
          (selected)="onMovieSelected($event)"
        >
        </app-media-card>
      </cdk-virtual-scroll-viewport>
    </div>
    <button
      id="force-change-btn"
      data-testid="force-change-btn"
      (click)="changeLoading()"
    >
      Force change
    </button>
  </div>
</div>
